# MSDS 430 Module 7 Python Assignment

In [68]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/noahgift/nw430/master/data/pitching_stats.txt",
                delim_whitespace=True, 
                names=['Player', 'Team', 'games_won', 'games_lost', 'ERA', 'games_pitched', 'innings_pitched'])
my_dict = df.to_dict()
my_dict

{'Player': {0: 'Degrom',
  1: 'Sale',
  2: 'Snell',
  3: 'Scherzer',
  4: 'Bauer',
  5: 'Nola',
  6: 'Verlander',
  7: 'Kluber',
  8: 'Cole',
  9: 'Mikolas'},
 'Team': {0: 'NYM',
  1: 'BOS',
  2: 'TB',
  3: 'WSH',
  4: 'CLE',
  5: 'PHI',
  6: 'HOU',
  7: 'CLE',
  8: 'HOU',
  9: 'STL'},
 'games_won': {0: 7,
  1: 12,
  2: 13,
  3: 15,
  4: 12,
  5: 13,
  6: 11,
  7: 15,
  8: 10,
  9: 12},
 'games_lost': {0: 7, 1: 4, 2: 5, 3: 5, 4: 6, 5: 3, 6: 8, 7: 6, 8: 5, 9: 3},
 'ERA': {0: 1.81,
  1: 1.97,
  2: 2.18,
  3: 2.19,
  4: 2.22,
  5: 2.28,
  6: 2.52,
  7: 2.68,
  8: 2.75,
  9: 2.85},
 'games_pitched': {0: 24,
  1: 23,
  2: 22,
  3: 25,
  4: 25,
  5: 24,
  6: 26,
  7: 25,
  8: 24,
  9: 24},
 'innings_pitched': {0: 159.0,
  1: 146.0,
  2: 128.0,
  3: 168.2,
  4: 166.0,
  5: 154.0,
  6: 164.1,
  7: 168.0,
  8: 153.2,
  9: 151.1}}

#### In this assignment you will complete the following exercises and submit your notebook (ipynb file) to Canvas. Your file should include all output, i.e. run each cell and save your file before submitting.

<font color=green> As mentioned in the summary for this module, some of the goals this week are to practice working more extensively with lists and dictionaries. An important technique when working with these objects is to use list comprehensions or dict comprehensions. One reason for using these is to make programs more efficient. Additionally, we're working with techniques for converting, sorting, and grouping data that will be good practice for later in the program and in data science. </font>

Problem 1 (4 pts): In a previous assignment you wrote a program that asked a user for two numbers and it returned the sum and product of those two numbers. Add an exception to that program to handle the case of the user accidentally entering a letter for one or both of the numbers.

In [69]:
try:
    first_number = int(input("Enter any number: "))
    second_number = int(input("Enter a second number: "))

    sum_numbers = first_number + second_number
    product_numbers = first_number * second_number

    print("The sum of", first_number, "and", second_number, "is", sum_numbers)
    print("The product of", first_number, "and", second_number, "is", product_numbers)
except: print('Not a number!')

Enter any number: 5
Enter a second number: 5
The sum of 5 and 5 is 10
The product of 5 and 5 is 25

Problem 2 (6 pts.): Using the file `pitching_stats.csv`, read the data and convert it to a list of dictionaries, i.e. each row should be converted to a dictionary with keys `'name'`, `'team'`, `'IP'`, and `'ER'`. Print the list.

In [70]:
mlbfile = pandas.read_csv('pitching_stats.csv')
mlbfilelist = mlbfile.T.to_dict().values()
print(mlbfilelist)

dict_values([{'rank': 1, 'name': 'DeGrom, J', 'team': 'NYM', 'IP': 159.0, 'ER': 32}, {'rank': 2, 'name': 'Sale, C', 'team': 'BOS', 'IP': 146.0, 'ER': 32}, {'rank': 3, 'name': 'Snell, B', 'team': 'TB', 'IP': 133.0, 'ER': 31}, {'rank': 4, 'name': 'Scherzer, M', 'team': 'WSH', 'IP': 174.2, 'ER': 41}, {'rank': 5, 'name': 'Bauer, T', 'team': 'CLE', 'IP': 166.0, 'ER': 41}, {'rank': 6, 'name': 'Nola, A', 'team': 'PHI', 'IP': 161.0, 'ER': 40}, {'rank': 7, 'name': 'Verlander, J', 'team': 'HOU', 'IP': 164.1, 'ER': 46}, {'rank': 8, 'name': 'Kluber, C', 'team': 'CLE', 'IP': 168.0, 'ER': 50}, {'rank': 9, 'name': 'Cole, G', 'team': 'HOU', 'IP': 159.2, 'ER': 48}, {'rank': 10, 'name': 'Morton, C', 'team': 'HOU', 'IP': 142.1, 'ER': 45}])

Problem 3 (6 pts.): Convert the list in the previous problem to a dictionary using a dict comprehension. Your key should be the pitcher's ERA.

In [78]:
new_dict = {}
for (key, value) in mlbfilelist:
    if key == 'ER':
        new_dict[key].append(value)
    else:
        new_dict[key] = [value]
print(new_dict)

# Would like to see how this is done!

ValueError: too many values to unpack (expected 2)

Problem 4 (4 pts): Group the list from Problem 1 by team name.

In [72]:
grouped = mlbfile.groupby('team')

for name,group in grouped:
    print(name)
    print(group)

BOS
   rank     name team     IP  ER
1     2  Sale, C  BOS  146.0  32
CLE
   rank       name team     IP  ER
4     5   Bauer, T  CLE  166.0  41
7     8  Kluber, C  CLE  168.0  50
HOU
   rank          name team     IP  ER
6     7  Verlander, J  HOU  164.1  46
8     9       Cole, G  HOU  159.2  48
9    10     Morton, C  HOU  142.1  45
NYM
   rank       name team     IP  ER
0     1  DeGrom, J  NYM  159.0  32
PHI
   rank     name team     IP  ER
5     6  Nola, A  PHI  161.0  40
TB
   rank      name team     IP  ER
2     3  Snell, B   TB  133.0  31
WSH
   rank         name team     IP  ER
3     4  Scherzer, M  WSH  174.2  41

Problem 5 (4 pts): Sort the data from Problem 1 by team name.

In [73]:
mlbfile.sort_values(by = 'team')

   rank          name team     IP  ER
1     2       Sale, C  BOS  146.0  32
4     5      Bauer, T  CLE  166.0  41
7     8     Kluber, C  CLE  168.0  50
6     7  Verlander, J  HOU  164.1  46
8     9       Cole, G  HOU  159.2  48
9    10     Morton, C  HOU  142.1  45
0     1     DeGrom, J  NYM  159.0  32
5     6       Nola, A  PHI  161.0  40
2     3      Snell, B   TB  133.0  31
3     4   Scherzer, M  WSH  174.2  41