# MSDS 430 Module 6 Python Assignment

#### In this assignment you will complete the following exercises and submit your notebook (ipynb file) to Canvas. Your file should include all output, i.e. run each cell and save your file before submitting.

<font color=green> Building on the previous module, we're now learning more about how to work with data and display information neatly plus manipulate data more efficiently. In this assignment we learn how to create our own table of data plus read data, perform some calculations, and print out the information neatly. We're also learning to create a simple table with Boolean values. Take some time to practice various techniques of organizing data learned in the readings and videos for this week. </font>

Problem 1 (8 pts.): Create a table that has 15 pay grades (rows) and within each pay grade are 10 steps (columns). Grade 1 step 1 starts at $21,885. Each step in a pay grade increases by 1.4 percent from the previous step. Each pay grade increases by 4.3 percent from step 1 in the previous grade. Label each row and column appropriately. Print the table and write to a file. Use integer values only.

In [59]:
print('grade','\t','step 1','\t','step 2','\t', 'step 3', 
      '\t','step 4','\t','step 5','\t','step 6','\t','step 7', 
      '\t','step 8','\t','step 9','\t','step 10')

salary = 21885
stepincrease = 1.014
gradeincrease = 1.043

outfile = open('paygrade.txt', 'w')

for i in range(15):
    step1 = int(salary)
    step2 = int(step1 * stepincrease)
    step3 = int(step2 * stepincrease)
    step4 = int(step3 * stepincrease)
    step5 = int(step4 * stepincrease)
    step6 = int(step5 * stepincrease)
    step7 = int(step6 * stepincrease)
    step8 = int(step7 * stepincrease)
    step9 = int(step8 * stepincrease)
    step10 = int(step9 * stepincrease)
    print(i + 1, '\t', step1, '\t', step2, '\t', step3, '\t', step4, '\t', step5, '\t', step6, '\t', step7, '\t', step8, '\t', step9, '\t', step10)
    salary = int(salary * gradeincrease)
    
outfile.close()

# I did everything but write to a file.  Would love to understand how to do this with a table!

grade 	 step 1 	 step 2 	 step 3 	 step 4 	 step 5 	 step 6 	 step 7 	 step 8 	 step 9 	 step 10
1 	 21885 	 22191 	 22501 	 22816 	 23135 	 23458 	 23786 	 24119 	 24456 	 24798
2 	 22826 	 23145 	 23469 	 23797 	 24130 	 24467 	 24809 	 25156 	 25508 	 25865
3 	 23807 	 24140 	 24477 	 24819 	 25166 	 25518 	 25875 	 26237 	 26604 	 26976
4 	 24830 	 25177 	 25529 	 25886 	 26248 	 26615 	 26987 	 27364 	 27747 	 28135
5 	 25897 	 26259 	 26626 	 26998 	 27375 	 27758 	 28146 	 28540 	 28939 	 29344
6 	 27010 	 27388 	 27771 	 28159 	 28553 	 28952 	 29357 	 29767 	 30183 	 30605
7 	 28171 	 28565 	 28964 	 29369 	 29780 	 30196 	 30618 	 31046 	 31480 	 31920
8 	 29382 	 29793 	 30210 	 30632 	 31060 	 31494 	 31934 	 32381 	 32834 	 33293
9 	 30645 	 31074 	 31509 	 31950 	 32397 	 32850 	 33309 	 33775 	 34247 	 34726
10 	 31962 	 32409 	 32862 	 33322 	 33788 	 34261 	 34740 	 35226 	 35719 	 36219
11 	 33336 	 33802 	 34275 	 34754 	 35240 	 35733 	 36233 	 36740 	 37254 	 37775
12 	 34769 	 35255 	 35748 	 36248 	 36755 	 37269 	 37790 	 38319 	 38855 	 39398
13 	 36264 	 36771 	 37285 	 37806 	 38335 	 38871 	 39415 	 39966 	 40525 	 41092
14 	 37823 	 38352 	 38888 	 39432 	 39984 	 40543 	 41110 	 41685 	 42268 	 42859
15 	 39449 	 40001 	 40561 	 41128 	 41703 	 42286 	 42878 	 43478 	 44086 	 44703

Problem 2 (8 pts.): Use the file pitching_stats.csv for this problem. Read the data and calculate the ERA for the top ten pitchers. ERA = (earned runs*9)/(innings pitched). Print out a table with the pitcher's name, team, earned runs, innings pitched, and ERA (rounded to two decimals). Label columns appropriately.

In [60]:
import pandas

df = pandas.read_csv('pitching_stats.csv')
ERA = (df['ER'] * 9) / df['IP']
ERAround = ERA.round(2)
df['ERA'] = ERAround
dfnew = df.drop(['rank'], axis=1)
print(dfnew)

           name team     IP  ER   ERA
0     DeGrom, J  NYM  159.0  32  1.81
1       Sale, C  BOS  146.0  32  1.97
2      Snell, B   TB  133.0  31  2.10
3   Scherzer, M  WSH  174.2  41  2.12
4      Bauer, T  CLE  166.0  41  2.22
5       Nola, A  PHI  161.0  40  2.24
6  Verlander, J  HOU  164.1  46  2.52
7     Kluber, C  CLE  168.0  50  2.68
8       Cole, G  HOU  159.2  48  2.71
9     Morton, C  HOU  142.1  45  2.85

Problem 3 (6 pts): Write a program that creates a table with two columns. Label the first column 'n' and the second column 'Prime or not?' Your table should list integers 2 through 50 and display 'True' if the number is prime and 'False' if the number is not prime.

In [61]:
import sympy

print('n', '\t', 'Prime or not?')

for i in range(2,51):
    print(i, '\t', sympy.isprime(i))

n 	 Prime or not?
2 	 True
3 	 True
4 	 False
5 	 True
6 	 False
7 	 True
8 	 False
9 	 False
10 	 False
11 	 True
12 	 False
13 	 True
14 	 False
15 	 False
16 	 False
17 	 True
18 	 False
19 	 True
20 	 False
21 	 False
22 	 False
23 	 True
24 	 False
25 	 False
26 	 False
27 	 False
28 	 False
29 	 True
30 	 False
31 	 True
32 	 False
33 	 False
34 	 False
35 	 False
36 	 False
37 	 True
38 	 False
39 	 False
40 	 False
41 	 True
42 	 False
43 	 True
44 	 False
45 	 False
46 	 False
47 	 True
48 	 False
49 	 False
50 	 False